body {
    padding: 0;
    margin: 0;
    background: #fff5e6;
}
.navbar {
    background:#2a6592;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('');
    background-size: cover;
    background-position: center;
    position: relative;
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #2a6592;
}
.description p {
	color: #8ec3eb;
	font-size: 1.3rem;
	line-height: 1.5;
}
button {
    border:1px solid #2a6592;
    background:#2a6592;
    border-radius: 0;
    color:#fff;
}
button:hover {
	border:1px solid #8ec3eb;
    background:#8ec3eb;
    color:#000;
}

input .btn{
    border:1px solid #2a6592;
    background:#2a6592;
    border-radius: 0;
    color:#fff;
}
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.features .form-control,
.features input {
	border-radius: 0;
}
/* .features .btn {
    background-color: #2a6592;
    border: 1px solid #2a6592;
    color: #fff;
    margin-top: 20px;
} */
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
/* form {
    position : relative;
    width  : 740px;
    margin : 0 auto;
    padding: 2em;
    box-sizing: border-box;
    background : #FFF;
  } */

  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #2a6592;
  }